/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp ESC     &th F1 N1     &th F2 N2     &th F3 N3       &th F4 N4       &th F5 N5        &kp UP_ARROW       &th F6 N6     &th F7 N7      &th F8 N8          &th F9 N9        &th F10 N0  &kp MINUS
&kp TAB     &kp Q         &kp W         &kp E           &kp R           &kp T            &kp DOWN_ARROW     &kp Y         &kp U          &kp I              &kp O            &kp P       &kp LEFT_BRACKET
&kp CAPS    &hrml RALT A  &hrml LALT S  &hrml LSHIFT D  &hrml LCTRL F   &hrml LGUI G     &kp LEFT_ARROW     &hrmr RGUI H  &hrmr RCTRL J  &hrmr RSHIFT K     &hrmr LALT L     &kp SEMI    &kp APOS
&kp LSHFT   &kp Z         &kp X         &kp C           &kp V           &kp B            &kp RIGHT_ARROW    &kp N         &kp M          &kp COMMA          &kp DOT          &kp FSLH    &tdl
&kp C_MUTE  &kp LCTRL     &kp LEFT_GUI  &kp LEFT_ALT    &mt LSHFT SPACE &lt NAV ENTER    &kp ENTER          &rep_bk_del   &smart_rshift  &mt NAV BACKSPACE  &kp INSERT       &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        gaming_layer {
	    display-name = "Gaming";
            bindings = <
&trans  &trans  &trans     &trans    &trans     &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans    &trans     &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp A   &kp S      &kp D     &kp F      &kp G            &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans    &trans     &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LCTRL  &kp LALT  &kp SPACE  &mo MIRROR       &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        mirror_layer {
	    display-name = "Mirror";
            bindings = <
&kp MINUS  &th F10 N0  &th F9 N9  &th F8 N8  &th F7 N7  &th F6 N6           &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &kp P       &kp O      &kp I      &kp U      &kp Y           &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &kp SEMI    &kp L      &kp K      &kp J      &kp H            &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &kp FSLH    &kp DOT    &kp COMMA  &kp M      &kp N           &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans      &kp LCTRL  &kp LALT   &kp SPACE  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&trans>;
        };

        keypad_layer {
	    display-name = "Keypad";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans       &kp KP_N7  &kp KP_N8     &kp KP_N9   &kp KP_DIVIDE  &kp KP_MULTIPLY
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans       &kp KP_N4  &kp KP_N5     &kp KP_N6   &kp KP_MINUS   &kp TAB
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans       &kp KP_N1  &kp KP_N2     &kp KP_N3   &kp KP_PLUS    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &kp KP_NLCK  &kp KP_N0  &kp KP_COMMA  &kp KP_DOT  &kp KP_ENTER   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &sk RALT     &trans     &trans        &trans      &trans
            >;

            sensor-bindings = <&trans>;
        };

	// Mouse and arrows together, with also keys for copy/paste, right hand only layer
	// ijkl - arrows
	// left thumb - left click
	// m - middle click
	// , - right click
	// shift+. - scroll down
	// u -> page up
	// o -> page down
	// y - copy (yank like vim) long press ctrl-A+copy todo
	// p - paste
	// h - cut long press ctrl-A+cut todo
	// n - undo long press redo (hoping it works) todo
	// home and end - look at the urzog config
	// idea: navigation layer is also function layer, becoming a movement and window management layer
        navigation_function_layer {
	    display-name = "Move";
            bindings = <
&kp GRAVE   &kp F1    &kp F2   &kp F3      &kp F4     &kp F5             &mmv MOVE_UP       &kp F6         &kp F7                &kp F8                &kp F9                  &kp F10         &kp EQUAL
&trans      &kp F11   &kp F12  &kp PSCRN   &kp SLCK   &kp PAUSE_BREAK    &mmv MOVE_DOWN     &kp C_AC_COPY  &kp PG_UP             &kmmv UP MOVE_UP      &kp PG_DN               &kp C_AC_PASTE  &kp RIGHT_BRACKET
&trans      &sk RALT  &sk ALT  &sk LSHIFT  &sk LCTRL  &sk LGUI           &mmv MOVE_LEFT     &kp C_AC_CUT   &kmmv LEFT MOVE_LEFT  &kmmv DOWN MOVE_DOWN  &kmmv RIGHT MOVE_RIGHT  &trans          &trans
&trans      &trans    &trans   &trans      &trans     &trans             &mmv MOVE_RIGHT    &kp C_AC_UNDO  &mkp MCLK             &mkp RCLK             &trans                  &kp BSLH        &trans
&trans      &trans    &trans   &trans      &trans     &trans             &mkp LCLK          &mkp LCLK      &trans                &trans                &trans                  &tog TOGGLE
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        toggle_layer {
	    // Empty layer to allow lower layer to be turned sticky from temporary
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&trans>;
        };

    };
};
